//- Obi's CV (i gotta go by Samuel Obinna Nnodim, legally, but not much longer)
include obis-cv-mixins.pug

#main
  #title
    h1 Samuel Obinna Nnodim
    //- .subtitle King in the North

  .main-block
    h2 #[i.fa.fa-suitcase] Experience
    
    +item("Chief Technical Officer", "Sievent LLC", "Sacramento, CA", "2018")
      :markdown-it
        - Roadmap and coordinate the long term technical direction for the company.
        - Create company prototypes for expansion into new technologies such as: AR/VR
    
    +item("Farm Consultant", "Olson Farms", "Petaluma, CA", "2018")
      :markdown-it
        - Work with head farmer to coordinate restuarant deliveries and set produce schedule 
        - Harvest & Deliver hundreds of pounds of Kale, Tomatoes, and Seasonal Produce
        - Maintain and Implement Organic Farming Practices
        
    +item("Production Technician", "Advanced Metal Finishing", "Roseville, CA", "2017")
      :markdown-it
        - Worked with Quality Control to ensure the factory’s compliance with Federal Aviation guidelines.
        - Quality Assured, packaged, and distribute thousands of SpaceX parts for distribution all across Northern California.
        
    +item("Web Developer", "LawTrades", "New York, NY", "2016", "2015")
      :markdown-it
        - Worked directly with CEO to develop web designs and create company website pages to drive in more online traffic. (Designs featured on ProductHunt.com)
        - Worked on the Primary app of the lawtrades.com platform to build features to: accept payments, enable chat and customer support, improve the mobile design and functionality.
        
  .main-block
    h2 #[i.fa.fa-folder-open] Selected Projects 
        
    +item("Sievent 2.0", "Sievent LLC", "Sacramento, CA", "2018")
      :markdown-it
        - Designed a new service oriented platform architecture using Docker     
        - Moved company towards polyglotism to increase developer talent pool.
        
    +item("Field Study Abroad IX", "Sapienza University", "Honduras, Nicaragua, Costa Rica", "2017")
      :markdown-it
        - Conducted Renewable Energy Field Research in the areas of solar and hydro
        - Collected data to improve iTree & REM computational models (used by MIT)  
        - Serviced a Micro-Hydro Generator supplying power to a village of 100+ 
        
    +item("Gentrification Analyzer", "Columbia University", "New York, NY", "2016")
      :markdown-it
        - Built a web app to analyze NYC Housing Data and screen for areas affected by gentrification in Harlem 
        - Presented findings before Data Journalists from the New York Times
        
    +item("Arduino Aquaponics Garden", "Antelope High School", "Sacramento, CA", "2013")
      :markdown-it
        - Constructed an indoor aquaponics garden, and grew a bed of microgreens to harvest
        - Learned Arudino, and wired the garden's lighting and watering to be fully automated
        - Presented idea to Congressmen Ami Bera to acquire more funding for the school program
  
  .main-block.concise
    h2 #[i.fa.fa-graduation-cap] Education
    
    +item("Columbia University in the City of New York", "Harlem", "New York, NY", "2017", "2013")
      .concise
        :markdown-it
          B.S in Computer Engineering
          Relevant Coursework
            - Member of Application Development Initiative
            - Member of National Society Of Black Engineers
      
    
    

#sidebar
  #contact.side-block
    h1 Contact Info
    ul
      li #[i.fa.fa-envelope] obiknows88@gmail.com
      li #[i.fa.fa-phone] +1 916.969.7723
      li #[i.fa.fa-globe]  obi.obiknows.co
      li #[i.fa.fa-github]  obiknows
      
  #skills.side-block
    h1 Skills
    ul
      li Leadership
      li Attention to Detail
      li Soldering / Circuitry
      li Circuit Troubleshooting
      li Server Networking & Administration
    h4 Languages
    ul
      li Javascript
      li Python
      li Golang
      li HTML/CSS
      li PHP
      li C/C++
      li Haskell
    h4 Frameworks
    ul
      li A-Frame
      li Node.JS
      li React / Vue
      li React Native
      li Buffalo / Iris
      li Joomla
      li Django / Flask
    h4 Other Technologies
    ul
      li AWS / GCE 
      li Unix / Linux 
      li Docker
      li Arduino / Raspberry Pi
      
      

  //- This points to mnjul's original resume project
  #disclaimer.side-block.
      This résumé was created by Obinna. https://github.com/obiknows/obis-cv


  style
    include cv-style.scss
