//- Obi's CV (i gotta go by Samuel Obinna Nnodim, legally, but not much longer)
include obis-cv-mixins.pug

#main
  #title
    h1 Samuel Obinna Nnodim
    //- .subtitle King in the North
    .subtitle Obinna
    
  .main-block.concise
    h2 #[i.fa.fa-graduation-cap] Education
    
    +item("Columbia University in the City of New York", "New York City ", "New York, NY", "2017", "2013")
      .concise
        :markdown-it
          B.S. in Computer Engineering

  .main-block
    h2 #[i.fa.fa-suitcase] Experience
    
    +item("Distributed Systems Engineer", "LaunchDarkly", "Oakland, CA", "Jan 2019", "Jul 2019")
      :markdown-it
        - Worked to help expand G microservice architecture, building metering into company SSE-based architecture that serves billions of requests per day. 
        - Built out existing internal Go APIs and external facing documentation of API's and serivces.
        - Improved upon existing Metabase implementation used for internal reports within the company.
        - Implemented Chaos Engineering within company engineering stack using Gremlin.

    +item("Development Lead", "Represent Development Agency", "Berkeley, CA", "Jan 2018", "Jan 2019")
      :markdown-it
        - Pushed Company towards Containerization using Kubernetes to decrease hosting spend and increase flexibility.
        - Built financial market analysis software for UC Berkeley Professor using finance-go library (Golang) and React.
        - Created MERN stack app for internal re-use on a variety of company projets.
        - Developed a comprehensive training plan for ramping up junior engineers with industry best practices in mind. 
    
    +item("Chief Technical Officer", "Sievent LLC", "Sacramento, CA", "Jan 2018", "Jan 2020")
      :markdown-it
        - Refactored the company's Ruby monolith to Go microservices orchestrated using Docker Swarm & AWS
        - Pushed container strategy from Docker Swarm to Kubernetes to handle growing remote developer team.
        - Implemented CI/CD using Jenkins and CircleCI
        - Created and presented prototypes in React for company's expansion into the VR/AR vertical
    
    //- +item("Farm Consultant", "Olson Farms", "Petaluma, CA", "2018")
    //-   :markdown-it
    //-     - Work with head farmer to coordinate restuarant deliveries and set produce schedule 
    //-     - Harvest & Deliver hundreds of pounds of Kale, Tomatoes, and Seasonal Produce whilst maintaining Organic Farming Practices
        
    +item("Web Developer", "LawTrades", "New York, NY", "May 2015", "Aug 2016")
      :markdown-it
        - Worked directly with CEO to design and develop company website pages to drive in more online traffic. Saw a 3000% spike in traffic after site was featured on ProductHunt.com.
        - Built the entire propietary app for the lawtrades.com platform in PHP and Vanilla HTML/CSS/JS
        - Architected and implemented features such as: PCI compliance for payments, secure chat for client to client communications, and integrated customer support.
        - Improve the mobile design and functionality of the application for mobile web users
        
  .main-block
    h2 #[i.fa.fa-folder-open] Selected Projects 
        
    +item("Chumz", "Chumz LLC", "Nashville, Tennesee", "Jan 2019", "Nov 2019")
      :markdown-it
        - Moved towards new platform architecture  using Docker, Kubernetes, Hasura Engine, and Google Compute Serverless Functions
        - Moved company towards polyglotism using Go, Node, and Python to increase developer talent pool.
        
    +item("Field Study Abroad IX", "Sapienza University", "Honduras, Nicaragua, Costa Rica", "2017")
      :markdown-it
        - Conducted Field Research on Solar/Hydro Micro-Grids & Collected data to improve iTree & REM computational models (data used by MIT)  
        - Serviced a Micro-Hydro Generator supplying power to a village of 100+ people
        
    +item("Gentrification Analyzer", "Columbia University", "New York, NY", "2016")
      :markdown-it
        - Built a Python app to analyze NYC Housing Data and screen for areas affected by gentrification in Harlem 
        - Demoed App and Presented findings before Data Journalists from the New York Times and Columbia School of Journalism
        
    //- +item("Arduino Aquaponics Garden", "Antelope High School", "Sacramento, CA", "2013")
    //-   :markdown-it
    //-     - Constructed an indoor aquaponics garden, and grew a bed of microgreens to harvest
    //-     - Learned Arudino, and wired the garden's lighting and watering to be fully automated
    //-     - Presented idea to Congressmen Ami Bera to acquire more funding for the school program
  

      
    
    

#sidebar
  #contact.side-block
    h1 Contact Info
    ul
      li #[i.fa.fa-envelope] obiknows88@gmail.com
      li #[i.fa.fa-phone] +19169697723
      li #[i.fa.fa-globe]  https://itsobinna.com
      li #[i.fa.fa-github]  obiknows
      
  #skills.side-block
    h1 Skills
    ul
      li Leadership
      li Attention to Detail
      li Pair Programming
      //- li Soldering / Circuitry
      //- li Circuit Troubleshooting
      li Customer Service
      li Server Networking & Administration
      li Site Reliability Engineering
    h4 Languages
    ul
      li Golang
      li Javascript / Node.JS
      li Python
      li HTML/CSS
      li React
      li C/C++
      li PHP
      li SQL / Mongo
    h4 Frameworks
    ul
      //- li Node.JS
      li Buffalo
      li React Native
      li Gastby
      li React / Vue.Js
      li Django / Flask
      li Wordpress / Shopify
      li Hasura Engine
    h4 Other Technologies
    ul
      li AWS / Google Compute
      li Linux / Unix
      li Kubernetes
      li Docker / Docker Swarm
      li Rancher
      li Grafana / Prometheus
      li Arduino / Raspberry Pi
      
      

  //- This points to mnjul's original resume project
  #disclaimer.side-block.
      This résumé was created by Obinna. https://github.com/obiknows/obis-cv


  style
    include cv-style.scss
